.banner{
    height: 80vh;
    display: flex;
    vertical-align: bottom;
    color: rgba(255, 255, 255, 1);
}
.bannerbackground{
    height: 98%;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.info{
    margin-top: 180px;
    margin-left: 100px;
    overflow: auto;
    width: 40vw;
    padding: 50px;
    background-color: rgba(25, 25, 25, 0.8);
    border-radius: 30px;
    height: fit-content;
    z-index: 999;
}
.banner h2{
    color: #FAB131;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.banner h1{
    font-size: 60px;
    margin-top: 20px;
}
.banner h3{
    font-weight: initial;
    letter-spacing: 0.2px;
}
.bannerimg{
    height: 20vw;
    width: 23vw;
    margin: auto;
    margin-top: 240px;
    z-index: 999;
    opacity: 0.96;
}

.banner_button{
    padding: 12px 60px;
    font-size: 20px;
}