.bannersearch{
    height: 150vh;
    background-color: wheat;
    text-align: center;
}

.searchbar{
    margin: auto;
    margin-top: 350px;
    border: none;
    height: 60px;
    width: 600px;
    padding-left: 40px;
    border-radius: 200px;
    font-size: 30px;
}